<!--main section-->
<section class="bg-texture hero pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-white wow fadeIn">
                <div class="mt-5 pt-5 d-none d-md-block"></div>
                <h1>Pilog</h1>
                <h2>A beautiful <span class="text-orange">pilot logbook</span> app that you 
                    can trust.</h2>
                <p class="mt-4 lead">Pilog is a the logbook for the modern pilot. Automatically save, share, and notorize all in one app. Coming soon to iOS.
                </p>
                <form accept-charset="UTF-8" action="https://usebasin.com/f/6dd084ce8367" enctype="multipart/form-data" method="POST" class="pt-3">
                    <div class="form-row">
                        <div class="col-auto">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" id="email" name="email" placeholder="Your email address" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Get notified</button>
                        </div>
                    </div>
                </form>
               <!--  <p class="mt-5">
                    <a href="#" class="mr-2"><img src="img/google-play.png" class="store-img"/></a>
                    <a href="#"><img src="img/apple_store.png" class="store-img"/> </a>
                </p> -->
            </div>
            <div class="col-md-6 pt-5 d-none d-md-block wow fadeInRight">
                <img class="img-fluid mx-auto d-block" src="img/shot-3.png"/>
            </div>
        </div>
    </div>
</section>

<!--main features-->
<section class="bg-white" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 mx-auto text-center wow fadeIn">
                <h2 class="text-primary">Why Choose Pilog?</h2>
                <p class="lead">
                    Pilog is not your average logbook app.
                </p>
            </div>
        </div>
        <div class="row d-md-flex mt-4 text-center">
            <div class="col-sm-6 col-md-3 mt-2">
                <div class="card border-none wow fadeIn">
                    <div class="card-body">
                        <div class="icon-box">
                            <i class="material-icons dp36">sync</i>
                        </div>
                        <h5 class="card-title text-primary pt-5">Automatic flight logging</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 mt-2">
                <div class="card border-none wow fadeIn">
                    <div class="card-body">
                        <div class="icon-box">
                            <i class="material-icons dp36">cloud_upload</i>
                        </div>
                        <h5 class="card-title text-primary pt-5">Upload to the cloud</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 mt-2">
                <div class="card border-none wow fadeIn">
                    <div class="card-body">
                        <div class="icon-box">
                            <i class="material-icons dp36">edit</i>
                        </div>
                        <h5 class="card-title text-primary pt-5">Edit any time</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 mt-2">
                <div class="card border-none wow fadeIn">
                    <div class="card-body">
                        <div class="icon-box">
                            <i class="material-icons dp36">done_all</i>
                        </div>
                        <h5 class="card-title text-primary pt-5">Notorize your logbook</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<section class="bg-dark pt-5" id="connect">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                <h2 class="hero-heading text-muted">Stay in the know</h2>
                <div class="mt-4">
                    <form accept-charset="UTF-8" action="https://usebasin.com/f/6dd084ce8367" enctype="multipart/form-data" method="POST">
                        <div class="form-row justify-content-center">
                            <div class="col-auto">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Your email address">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">Get notified</button>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="pt-2 text-muted">
                    &copy; 2019 Pilog. All right reserved.
                </p>
            </div>
        </div>
    </div>
</section>